/* Configuración del header */
.headerPrincipal-titulo{
  text-align: center;
}


@media (min-width: 768px) {
	.headerPrincipal .container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
    .headerPrincipal-nav {
        display: flex;
    }
  }
  .headerPrincipal-nav-link{
    
    text-align: center;
  }
  /* Configuración del contenido principal */

    .contenidoPrincipal-cursos-link{
        width: 100%;
        margin-bottom: 1rem;
    }

@media (min-width: 768px) {
    .contenidoPrincipal-cursos
    {
        display: flex;
        flex-wrap: wrap;
     
    }
    .contenidoPrincipal-cursos-link{
        width: 23%;
        margin-bottom: 0;
    }
}

/* Esto seria con GRID y responsive */
  /* .contenidoPrincipal-cursos{
    display: grid;
    grid-template-columns: repeat(
        auto-fit,
        minmax(250px,1fr)
        );
    gap: 2rem;
  } */

  /* Configuración de la seción del video   */
  .videoSobre{
    margin: 2rem 0;
  }
  .videoSobre .container{
    display: block;
    align-items: center;
  }
  .videoSobre-sobre{
    text-align: center;
  }
  .videoSobre-button{
    margin: auto;
  }
  @media (min-width: 768px) {
    .videoSobre .container{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    }
 
  /* Configuración del footer */
 .rodapePrincipal-navMap-list{
    display: flex;
    flex-direction: column;
    justify-content: space-around;


  }
  @media (min-width: 768px) {
    .rodapePrincipal-navMap-list{
        height: 260px;
        flex-wrap: wrap;
    }
  }

.rodapePrincipal-patrocinadores-list{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}
@media (min-width: 768px) {
    .rodapePrincipal-patrocinadores .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      .rodapePrincipal-patrocinadores-list{
        
        width: 75%;
    }
  }
  .rodapePrincipal-contatoForm-fieldset{
    display: flex;
    justify-content: center;
  }